* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#input-window {
  width: auto;
  height: auto;
  position: absolute;
  z-index: 400;
  color: #fff;
}

#input-window form {
  border-style: dotted;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  margin: 5px;
  padding: 10px;
  background-color: rgba(40,18,72,0.7);
}

#search-text,
#per-page,
#max-req {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  background-color: transparent;
  font-size: 10pt;
  margin: 5px;
  padding: 2px;
}

#search-button,
#cansel-button {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  font-size: 10pt;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
  background-color: rgba(40,18,72,0.7);
}

#background-window {
  background-color: #281248;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /*opacity: 0.8;*/
  opacity: 0;
}

#gauge-box {
  width: 500px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: transparent;
  border-color: rgba(255,255,255,1);
  border-style: solid;
  border-width: 4px;
  overflow: hidden;
  z-index: 200;
  /*opacity: 0.5;*/
  opacity: 0;
}

#gauge-box #arrow-box {
  width : 600px;
  height : 20px;
  position: absolute;
  top: 10px;
  overflow: hidden;
  z-index: 300;
}

#gauge-box #progress-bar {
  height: 40px;
  width: 0px;
  position: absolute;
  background-color: rgba(255,255,255,1);
  top: 0;
  left: 0;
  z-index: 400;
  opacity: 0.5;
}

#photos-view {
  width: 110%;
  position: absolute;
  top: 0;
  left: 0;
}

#failed-msg {
  display: none;
  font: 24px/1 "Futura", "Helvetica Neue", sans-serif;
  color: white;
  height: 24px;
  width: 100%;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.flickr-img {
  height: 80px;
  width: auto;
  display: block;
  float: left;
}
